@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Monteserrat', sans-serif;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 50px;
}
h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 600;
}
p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}
a {
    text-decoration: none;
}
/* Header */
#mainheader {
    background-image: url("./imagenes/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    background-size: cover;
    text-align: center;

}
/* Utility Classes */ 
.container {
    display: block;
    margin: auto;
    max-width: 1300px;
	align-items: center;
}
.large {
    font-size: 20px;
}
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 15px 40px;
    letter-spacing: 10px
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
.btn-outline:hover {
    background: #fff;
    color: #000;
}
/* Navbar */
#navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
}
#navbar a {
    color: #000;
    padding-left: 20px;
    color:aliceblue;
}
#navbar .logo {
    display: flex;
    align-items: center;
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    color: aliceblue;
}
/* Logo */
.logo {
display: block;
width: 3rem;
border-radius: 50%;
margin-right: 0.5rem;
}
.name {
display: flex;
flex-wrap: wrap;
white-space: nowrap;
}
.header_name{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#showcase .btn {
    margin-top: 250px;
}

/* proyectos */
#projects {
    padding: 90px 0;
}
.projects-row {
    display: flex;
}
.projects-row img {
    width: 100%;
}
/* About */
#about {
    padding: 80px o;
    background-color: #fff;
}
.about-row {
    display: flex;
}

.about-row-experience,
.about-row-me {
    width: 50%;
    padding-left: 50px;
}

/* Contact */
#contact {
    padding: 80px 0;
}

.contact-row {
    display: flex;
}
.fa-brands,
.fa-solid {
    font-size: 100px;
}
.contact-row-icon {
    width: 50%;
    text-align: center;
}

/* Footer */
#mainfooter {
    background-color: #fff;
    text-align: center;
    padding: 30px;
}